name: build-mac-actions
run-name: ${{ github.actor }} is package mac app actions
on: [push]
jobs:
 build:
   runs-on: macos-latest
   steps:
     - uses: actions/checkout@v3
     - uses: subosito/flutter-action@v2
       with:
         channel: 'stable'
         architecture: x64
     - run: flutter pub get
     - run: flutter build macos
